* {
    margin: 10px;
    padding: 0px;
}

img {
    max-width: 100%;
    
}

html { background-color: rgb(236, 161, 21);
color: blue;
font-family: Verdana;
font-size:x-large;
}

header {
    width: 100%;
    margin-bottom: 50px;
   align-items: center;
}
h1 { text-align: center;
 color: black;}
h2 {text-align: center;
text-decoration: underline;
}

footer {
    position: sticky;
    bottom: 0%;
    background-color: rgb(236, 161, 21);
    z-index: 1;
   text-align: center;
   font-size: small;
   width:100%
}
/*comienzo de maquetado*/
#grid { 
    display: grid;
    grid-template-areas: 
     "menu header"
     "menu main-1"
     "menu section-1"
     "menu section-2"
     "footer footer";
     grid-template-rows: auto;
     grid-template-columns: 20% auto ;
     justify-items: left;
}
#header {
    grid-area: header;
}
nav {
    grid-area: menu;
}
#main-1{
    grid-area: main-1;
}
#section-1 {
    grid-area: section-1;
}
#section-2{
    grid-area: section-2;
}
footer{
    grid-area: footer;
}
/*responsive*/
@media (max-width: 480px)
{
    html { background-color: rgb(15, 15, 14);
        color: rgb(230, 230, 241);
        font-family: Verdana;
        font-size: 16px;
        max-width: 100%;
        height: auto;
        }
h1{ color: white;}
li { padding-bottom: 2px;}
    a {
        color: rgb(245, 214, 214);
    }
    a:active{
        color: red;
    }

    footer {
        background-color: rgb(15, 15, 14);
    }
    #grid { 
        display: grid;
        grid-template-areas: 
         "menu"
         "header"
          "main-1"
         "section-1"
         "section-2"
         "footer";
         grid-template-rows: auto;
         grid-template-columns: auto ;
         justify-items: left;
    }
}
@media (min-width: 481px) and (max-width: 992px) {
    html { background-color: rgb(9, 47, 150);
        color: rgb(230, 230, 241);
        font-family: Verdana;
        font-size: 100%;
        text-align: left;
        }
    a {
        color: rgb(245, 214, 214);
    }
    a:active{
        color: rgb(8, 8, 8);
    }
    h1{color: white;}
    footer {
        background-color: rgb(9, 47, 150);
    }
    * {
        margin: 1px;
        padding: 0px;
    }
    li { padding-bottom: 5px;
    margin-block: 20px;}
}