* {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 96%;
  height: auto;
}

html {
  background-color: rgb(15, 15, 14);
  color: rgb(230, 230, 241);
  font-family: Verdana;
  font-size: 16px;
  max-width: 100%;
  height: auto;
  text-align: center;
}

h1 {
  color: white;
}

a {
  color: rgb(245, 214, 214);
}

a:active {
  color: red;
}

iframe {
  max-width: 100%;
  height: auto;
}

#grid {
  display: grid;
  grid-template-areas: "menu" "header" "main-1" "section-1" "section-2" "footer";
  grid-template-rows: auto;
  grid-template-columns: auto;
  column-gap: 10px;
  row-gap: 10px;
}

header {
  grid-area: header;
}

nav {
  grid-area: menu;
}

.main-1 {
  grid-area: main-1;
}

.section-1 {
  grid-area: section-1;
}

.section-2 {
  grid-area: section-2;
}

footer {
  grid-area: footer;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 96%;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px white;
  border-radius: 15px;
  margin: 30px;
}

.menu {
  width: 70%;
}

header {
  width: 96%;
  margin: 0 auto;
  align-items: center;
}

h1 {
  text-align: center;
  color: black;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

#logo-inicio {
  width: 100%;
  height: auto;
}

.menu {
  max-width: 100%;
}
.menu ul {
  padding-bottom: 20px;
  list-style: none;
}
.menu ul li {
  margin: 30px;
  text-align: center;
  border-color: rgb(131, 65, 65);
  border-width: 1px;
  border-style: solid;
  box-shadow: 2px 2px white;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(15, 15, 14);
  color: rgb(230, 230, 241);
  font-family: Verdana;
  font-size: 16px;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.main-1 {
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-1 h2 {
  margin-bottom: 20px;
}

.img-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}
.img-flex img {
  width: 50%;
  border-radius: 25%;
}

.carousel-item {
  width: 100%;
  height: 500px;
  max-height: 100%;
}

footer {
  position: sticky;
  bottom: 0%;
  background-color: rgb(15, 15, 14);
  z-index: 1;
  text-align: center;
  font-size: small;
  width: 100%;
}

h3 {
  text-decoration: underline;
}

form {
  text-align: center;
  padding: 10px;
}
form input, form textarea {
  border-width: 2px;
  border-style: solid;
  border-color: rgb(131, 65, 65);
  background-color: rgb(15, 15, 14);
  text-align: center;
  color: white;
  width: 60%;
  margin-bottom: 20px;
  padding: 7px;
}
form input::placeholder, form textarea::placeholder {
  color: rgb(240, 233, 233);
  font-size: 16px;
}
form textarea {
  min-height: 100px;
  max-height: 200px;
  max-width: 100%;
}
form .boton {
  background-color: rgb(131, 65, 65);
  box-shadow: 4px 4px white;
}
form .boton:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
    margin: 10px;
  }
  html header img {
    max-height: 500px;
  }
  html .menu {
    width: 100%;
  }
  html .card {
    max-width: 550px;
  }
  iframe {
    height: 500px;
  }
}
@media (min-width: 1024px) {
  .main-1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.menu {
  animation-duration: 2s;
  animation-name: aparecer;
  animation-iteration-count: 1;
}
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

p {
  animation-duration: 3s;
  animation-name: animacion1;
}
@keyframes animacion1 {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

#logo-inicio {
  animation-duration: 3s;
  animation-name: animacion2;
}
@keyframes animacion2 {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.card:hover {
  transform: scale(1.1);
  background-color: rgb(15, 15, 14);
}

.card {
  overflow: hidden;
}

/*# sourceMappingURL=styles.css.map */
