@media (min-width:768px){
  html{
    font-size: 20px;
    margin: 10px;
    header img{
      max-height: 500px;
    }
    .menu{
      width: 100%;
        }
    .card {
      max-width:550px;
    }
}

iframe{
    height: 500px;
}
}

@media (min-width:1024px){
    .main-1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}